body {
  background-image: url("https://storage.needpix.com/rsynced_images/mesh-1430108_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  color: #fff;
}

.App .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgb(0, 142, 250) 0%,
    rgb(12, 255, 251) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 15px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(0, 142, 250);
  outline: none;
  background: transparent;
  color: #fff;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(0, 142, 250) 0%,
    rgb(12, 255, 251) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}

.h1ToDo {
  color: rgb(213, 224, 232);
}

.placeholderColor::placeholder {
  color: #fff;
}

.typing {
  color: #fff;
}
.form {
  color: #fff;
}